spring.application.name=ibm

spring.datasource.url=jdbc:postgresql://localhost:5432/voltcontrol
spring.datasource.username=postgres
spring.datasource.password=CHANGE_ME

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

app.encryption.secret-key=CHANGE_ME

org.jobrunr.background-job-server.enabled=true
org.jobrunr.dashboard.enabled=true
org.jobrunr.dashboard.port=8000

spring.autoconfigure.exclude=org.jobrunr.spring.autoconfigure.JobRunrAutoConfiguration

jwt.secret=CHANGE_ME
jwt.expiration-ms=86400000